dividersBackgroundColor = #a00d1e
activeTabBackgroundColor = #be5960

.chrome-tabs.chrome-tabs-dark-theme
  background: #a00d1e

  .chrome-tab
    .chrome-tab-dividers::before,
    .chrome-tab-dividers::after
      background: #a00d1eb7

    .chrome-tab-background
      > svg
        .chrome-tab-geometry
          fill: #a00d1e

    &[active]
      .chrome-tab-background
        > svg
          .chrome-tab-geometry
            fill: #be5960

    .chrome-tab-title
      color: #9ca1a7

    &[active]
      .chrome-tab-title
        color: #f1f3f4

    .chrome-tab-close
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(187, 206, 221, .1)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>")

      &:hover
        background-color: #e7f4ff
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(255, 255, 255, .7)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>")

      &:hover:active
        background-color: #a5c8e6
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(255, 255, 255, .9)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>")

  .chrome-tabs-bottom-bar
    background: #be5960
